label {
  width: 100%;
}

label, input {
  padding: 0.4em;
  margin-bottom: 0px;
}

h2 {
  padding: 0.6em;
  margin: 0px;
}

h5 {
  margin-top: 0px;
  width: 100%;
  font-size: 12px;
  color: #636262;
  text-decoration: underline;
}

input[type=checkbox], input[type=radio] {
  margin-left: 1em;
  vertical-align: middle;
}

a {
  color: #f0f0f0;
}

.primary-color {
  background: 	#5dafb2;
  color: #f0f0f0;
}

.warning-color {
  background-color: #b25e5d;
  color: #ffffff;
}

.navbar {
display: block;
position: relative;
}

.center {
  text-align: center;
}

.main-nav {
position: relative;
bottom: 0px;
margin: auto;
}

.main-content {
display: inline;
text-align: center;
}

.main-btn {
border: solid 1px;
width: 100%;
}

.list-el {
  padding: 0.4em;
  margin-bottom: 0px;
}

.active {
  background-color: #f0f0f0;
  color: #000000;
  border-bottom: none;
}

.radioBtn {
  display: block;
}

.navButton {
  padding: 0.1em;
  margin: 0.2em;
  font-size: 25px;
  color: #f0f0f0;
  cursor: pointer;
  line-height: 50%;
  border: solid 1px #f0f0f0;
  display: block;
}

.navButton:hover {
  color: #cccccc;
  background-color: #5dafb2;
  font-style: bold;
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid 1px #86bccc;
  border-right: solid 1px #86bccc;
  border-top: solid 1px #427f94;
  border-left: solid 1px #427f94;
}

.borderBottom {
  border-bottom: solid 1px #6f9ead;
}

.followBtn {
  display: block;
  margin: 0.4em auto;
  padding: 0.4em;
}

.followBtn:hover {
  background: #ccc;
  color: #000;
}

.checkbox {
  margin: 1em;
  float: left;
}

.block {
  display: block;
}

#bodyWrapEl {
  z-index: 2000;
  position: fixed;
  bottom: 10px;
  left: 6px;
  max-height: 500px;
  max-width: 370px;
  margin: auto;
  padding: 0;
  box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.3);
}

#wrapDiv{
  background-color: #f0f0f0;
}

#shareEl {
  border-right: solid 1px #f0f0f0;
  width: 100%;
  padding: 0.5em;
  border: solid 1px #cccccc;
}

#shareEl:hover {
  background-color: #ccc;
  color: #000;
}

#optionsEl {
  border-left: solid 1px #f0f0f0;
}

#headLiteTagEl {
  font-family: Brush Script MT, cursive;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  transform: rotate(-20deg);
  color: #f0f0f0;
  height: 20px;
  position: relative;
  top: 12px;
}

#appIcon {
  height: 100px;
  width: 100px;
}

#backgroundEl {
  background-color: #f0f0f0;
  border: solid 1px #000;
  width: 185px;
  flex: 1;
  float: left;
}

#popoutEl {
  background-color: #f0f0f0;
  border: solid 1px #000;
  width: 185px;
  flex: 1;
  float: right;
  text-align: center;
  display: none;
}

#warningEl {
  padding: 1em;
  margin-bottom: 1px;
  border: solid 3px #ad736f;
}

#shareBtnContainerEl {
  margin: 0.5em;
}

#speedValueEl {
  width: 25px;
  text-decoration: none;
}

#buttonCont {
  position: absolute;
  top: 0px;
  right: 0px;
}
